
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Page d inscription ')}"></head>
<body>
<main>
    <div class="container">
        <!-- Affichage message-->
        <div th:replace="~{fragments/message :: MessageAlert}"></div>
        <!-- Fin Affichage message-->
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="" class="logo d-flex align-items-center w-auto">
                                <img src="/img/itu.svg" alt="">
                                <span class="d-none d-lg-block">Cinepax</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Sign up</h5>
                                </div>
                                <form id="formValidation" class="row g-3"  method="post" th:action="@{/inscription}" th:object="${utilisateur}"  data-parsley-validate="">
                                    <div class="col-12">
                                        <label for="nom" class="form-label">Nom : *</label>
                                        <input type="text" th:field="*{nom}" value="Razakarivony" class="form-control" id="nom" data-parsley-trigger="change" required="">
                                    </div>
                                    <div class="col-12">
                                        <label for="pr" class="form-label">Prenom : * </label>
                                        <input type="text" th:field="*{prenom}" value="Toavina" class="form-control" id="pr" data-parsley-trigger="change" required="">
                                    </div>

                                    <div class="col-12">
                                        <label for="sexe" class="form-label">Sexe : *</label>
                                        <select class="form-control" id="sexe" th:field="*{genre}">
                                            <option value="0">Femme</option>
                                            <option value="1">Homme</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="profil" class="form-label">Genre : *</label>
                                        <select class="form-control" id="profil" th:field="*{profil}">
                                            <option value="USER">USER</option>
                                            <option value="SUPERUSER">SUPERUSER</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" th:field="*{email}" data-parsley-pattern="^[a-zA-Z0-9._%+-^]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" value="admin@gmail.com" class="form-control" id="email" data-parsley-trigger="change" required="">
                                    </div>
                                    <div class="col-12">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" data-parsley-minlength="4" data-parsley-maxlength="10"
                                                th:field="*{password}" value="admin" class="form-control" id="password" required>
                                    </div>

                                    <div class="col-12">
                                        <input class="btn btn-primary w-100" type="submit" value="S inscrire">
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have account? <a th:href="@{'/'}">Se connecter</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
</body>
<div th:replace="~{fragments/script :: script}"></div>
<script>
    $(document).ready(function() {
        $('#formValidation').parsley();
    });

</script>
</html>
