
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/head :: head(title='Vente')}"></head>
<body>
<header th:replace="~{fragments/header :: header(title='Cinepax')}"></header>
<aside th:replace="~{fragments/aside :: aside}"></aside>

<main id="main" class="main">
    <div class="pagetitle">
        <h1  th:text="${content.get('Vente')}"></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" th:text="${content.get('Vente')}"></li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <!-- Affichage message-->
        <div th:replace="~{fragments/message :: MessageAlert}"></div>

        <div style="display: none"   class="alert alert-success alert-dismissible fade show text-center message"
             role="alert" id="succ">

        </div>
        <div  style="display: none" class="alert alert-danger alert-dismissible fade show text-center message"
             role="alert" id="err">

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <span th:text="${content.get('Accueil')}"></span>
                </div>
            </div>
        </div>
        <!-- Fin Affichage message-->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <form th:action="@{'/v1/venteBillet/importXls'}" method="post" id="searchForm" enctype="multipart/form-data">
                            <div class="col-md-3 input-group mt-2">
                                <div class="form-control">
                                    <label class="form-control-sm" for="csv">Import Xlsx:</label>
                                    <input type="file" name="file" class="form-control-sm" id="csv">
                                    <input  class="btn btn-outline-primary" type="submit" value="OK">
                                </div>
                            </div>
                        </form>

                        <form method="post" id="importCsv" enctype="multipart/form-data">
                            <div class="col-md-3 input-group mt-2">
                                <div class="form-control">
                                    <label class="form-control-sm" for="csv2">Import csv:</label>
                                    <input type="file" name="file" class="form-control-sm" id="csv2">
                                    <input  class="btn btn-outline-primary" type="submit" value="OK">
                                </div>
                            </div>
                        </form>
                        <div id="progressContainer" style="display: none;">
                            <div class="progress">
                                <div id="progressBar" class="progress-bar progress-bar-striped" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span id="progressText"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class=" card-body">
                        <h5 class="card-title" >Evenements a venir</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Film</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Salle</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="event : ${allEvent}">
                                <th scope="row" th:text="${event.getIdEvent()}"></th>
                                <td th:text="${event.getDate()}"></td>
                                <td th:text="${event.getFilm().getTitre()}"></td>
                                <td th:text="${event.getHeure().getHours()+':'+event.getHeure().getMinutes()}"></td>
                                <td th:text="${event.getSalle().getNom()}"></td>
                                <td style="text-align: right" th:text="${venteBillet.getMoneyVersion(event.getPrix())}"></td>
                                <td>
                                    <a th:href="@{'/v1/venteBillet/'+${event.getIdEvent()}}">Billet</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/script :: script}"></div>

<!--delete modal -->
<div th:replace="~{fragments/DeleteConfirmation :: Delete}"></div>

<script src="/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        var run = true

        $('#importCsv').submit(function(e) {
            e.preventDefault();
            run = true;
            var pr = $('#progressContainer');
            pr.hide();
            var formData = new FormData(this);
            pr.show();

            $('#progressBar').css('width', '0%').attr('aria-valuenow', 0);
            $('#progressText').text('0%');

            var err = document.getElementById("err");
            err.style.display = "none";
            err.textContent = "";

            var succ = document.getElementById("succ");
            succ.style.display = "none";
            succ.textContent = "";

            updateProgressBar();
            $.ajax({
                url: '/v1/venteBillet/csv',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {

                    /*if (response.redirect) {
                        window.location.href = response.redirect;
                        return; // Arrêtez l'exécution de la fonction après la redirection
                    }*/

                    console.log(response)
                    console.log("Traitement démarré "+response.error+" -- "+response.message);
                    if(response.error){
                        run = false
                        var err = document.getElementById("err");
                        err.style.display = "block";
                        err.textContent = response.error;
                    }
                    var succ = document.getElementById("succ");
                    succ.style.display = "block";
                    succ.textContent = response.message;


                    //updateProgressBar();
                },
                error: function(xhr, status, error) {
                    console.error("Erreur lors de l'envoi du fichier CSV :", error);
                }
            });
        });

        function updateProgressBar() {
            $.ajax({
                url: '/v1/venteBillet/progress',
                type: 'GET',
                success: function(progress) {
                    console.log(progress + " haha");
                    $('#progressBar').css('width', progress + '%' ).attr('aria-valuenow', progress);
                    $('#progressText').text(progress.toFixed(2) + '%');

                    console.log(run)
                    if (progress < 100 && run===true) {
                        // Appel récursif pour mettre à jour la progression
                        setTimeout(updateProgressBar, 1000);
                    }
                }
            });
        }

    });
</script>





<!-- fin delete modal -->
<script>
    $(document).ready(function() {
        $('#formValidation').parsley();
    });

</script>

</html>