<aside  th:fragment="aside" id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-check"></i><span>Billet</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="components-alerts.html" th:href="@{'/'}">
                        <i class="bi bi-circle"></i><span>Vente de billet</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-check"></i><span>Statistique</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="components-alerts.html" th:href="@{'/v1/venteBillet/statParFilm'}">
                        <i class="bi bi-circle"></i><span>Billet par film</span>
                    </a>
                </li>

            </ul>
        </li> <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav3" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-check"></i><span>Object</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav3" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="components-alerts.html" th:href="@{'/v1/film'}">
                    <i class="bi bi-circle"></i><span>Film</span>
                </a>
            </li>

        </ul>
    </li>


        <li class="nav-heading">Transaction</li>

        <li class="nav-item">
            <a class="nav-link collapsed" >
                <i class="bi bi-person"></i>
                <span>Transaction matiere premiere</span>
            </a>
        </li><!-- End Profile Page Nav -->

    </ul>

</aside>