<form th:fragment="Search(url)"  th:action="@{${url}}" method="get" id="searchForm">
    <div class="col-md-3 input-group mt-2">
        <div class="form-control">
            <input  class="form-control-sm" placeholder="Mot clé" type="text" name="keyword" th:value="${keyword}">
            <!-- Filtrage de nombre de donnée-->
            <label class="form-control-sm" for="pageSize">Donnee par page:</label>
            <select class="form-control-sm" form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                    id="pageSize">
                <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
            </select>

            <input  class="btn btn-outline-primary" type="submit" value="Search">
        </div>
    </div>
    <!-- Filtrage de nombre de donnée-->
</form>