<nav th:fragment="Pagination(url)" aria-label="Pagination" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page',${url},'','')}"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page',${url},'','')}"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
            <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page} ,${url},'','')}"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page' , ${url},'','')}"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page' , ${url},'','')}"></a>
        </li>
    </ul>
</nav>